@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Story+Script&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: fit-content;
}
.card {
  flex: 0 0 calc(50% - 20px);
  border: 5px dashed #ccc;
  border-radius: 25px;
  padding: 20px;
}
h2 {
  font-family: "Fascinate", system-ui;
}
p {
  font-family: "Story Script", sans-serif;
}